.headerNav{
    background-color: rgb(106, 7, 131);
    overflow: hidden;
}
.headerNav a{
    float: left;
    display: block;
    color: rgb(231, 128, 231);
    text-align: center;
    padding: 14px 16px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 14px;
    
}
.headerNav a.exbut{
    float: right;
   color: aqua;
   margin-top: 6px;
}
.headerNav a.exbut:hover{
    background-color: black;
    color: rebeccapurple;
}
.headerNav a.active{
    color: rgb(13, 121, 216);
    font-weight: bold;
    font-size: calc(10px + vw);
}
body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
